

<div class="container">


        <table class="table tablecart">
            <thead>
            <tr>
                <th scope="col">Update</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Description</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Destroy</th>
            </tr>
            </thead>
            <tbody>

            <%@items.each do |item| %>
            <tr>
                <th scope="row"><%= button_to "Update Item", class: "btn btn-destroy"%></th>
                <td><%=item.title%></td>
                <td><%=item.description%></td>
                <td></td>
                <td><%=item.price%></td>
                <td><%= button_to "Destroy", class: "btn btn-destroy"%></td>
                
            </tr>
            <%end%>
            </tbody>
            <thead>
                <tr>
                    <th scope="col"><br></th>
                    <td scope="col"></td>
                    <td scope="col"><%= link_to "Create items", {action: :new}, class: "btn btn-destroy"%></td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
        </table>
</div>
<div class="container">
    <div class="order-btn text-center">
    <%= button_to "on fait quoi ?", class: "btn btn-order"%><br>
    </div>
</div>