

<div class="container">


        <table class="table tablecart">
            <thead>
            <tr>
                <th scope="col">Update</th>
                <th scope="col">Item Name</th>
                <th scope="col">Item Description</th>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Destroy</th>
            </tr>
            </thead>
            <tbody>

            <%@items.each do |item| %>
            <tr>
                <th scope="row"><%= button_to "Update", edit_admin_item_path(item.id),  method: :get, class: "btn btn-updateitem"%></th>
                <td><%=item.title%></td>
                <td><%=item.description%></td>
                <td></td>
                <td><%=item.price%></td>
                <td><%= button_to "Delete", item_path(item.id), params: {cart_id: params[:id]}, method: :delete, confirm: "Êtes-vous sûr de vouloir supprimer l'article ?", class: "btn btn-destroyitem"%></td>

                
            </tr>
            <%end%>
            </tbody>
            <thead>
                <tr>
                    <th scope="col"><br></th>
                    <td scope="col"></td>
                    <td scope="col"><%= link_to "Create items", {action: :new}, class: "btn btn-createitem"%></td>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
        </table>
</div>
