
<div class="how-section1">
    <div class="row">
        <div class="col-md-6">
            <img  src="<%=@item.image_url%>" class=" img-fluid" alt=""/>
        </div>
        <div class="col-md-6 text-center-justify">
        <div class="container m-5">
            <h3><%=@item.title%></h3>
              <p><%=@item.description%></p>  
                <br/>
               <h3><%=@item.price%>€</h3> 
               <br/>
               <%= button_to "Add to cart", jointablecartitem_index_path, params: {item_id: @item.id, quantity: 1}, method: :post, class: "btn btn-cart"%><br>
               </div>
        </div>
       </div>
       </div>
    <hr>
    


 <div id="description" class="row">

  <div class=" col-lg-7 col-md-7 col-sm-12 mb-3 ">
  <div class="container m-5">
    <h6>Raw and natural beauty:</h6>
    <p>We are a team of creative young people who love their cats but are also very good at taking pictures.What distinguishes our photos from others? Our photographer’s attention to detail, emphasizing the rarity of the moment and never using Photoshop.</p>
    <h6>Photos of cats warming the heart:</h6>
    <p>We have a lifetime of experience in capturing moments of love between humans and their companions.</p>
    <h6>Your cat’s best friend:</h6>
    <p>You know your cat is the perfect purring companion, but sometimes it’s too hard to get a good picture of your four-legged friend. Thanks to our state-of-the-art technology and qualified cat photography, we will be able to capture all the adorability of your feline friends.</p>
    <h6>Create your own chat-themed blog:</h6>
    <p>Be part of the movement and start blogging on your chats, sharing photos and videos with our help. You can even monetize with Google Adsense or affiliate links on the sidebars of our blog. Miaou!</p>
    <h6>Professional service:</h6>
    <p>Only the best of the best are on my website - find your perfect four-legged friend and contact him now!</p>
    <h6>Wide variety of cats:</h6>
    <p>I will meet all the needs of your cat - whether it’s kittens, adult cats or just an old photo to accompany your story, I can capture them in a photo.</p>
    <h6>I’ll take care of everything:</h6>
    <p>Go ahead and leave all the worries behind - I will provide you with quality photos that you can also use on other websites. In addition, I will do my editing work for you!</p>
  </div>
    </div>
    <div class="col-12 col-lg-5 col-md-5 mb-3 ">
    <h3 class="text-center">Related products</h3>
    <div class="row justify-content-center">
    
     <div class="col-8">
            <%a=rand(0..@items.length-1)%>
            <%b=rand(0..@items.length-1)%>
            <div class="card card-sl mb-4">
            <img class="card-img-top" src="<%=@items[a].image_url%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=@items[a].title%></h5>
              <p class="card-text"><%=@items[a].description%></p>
              <div class="row justify-content-center ">
               <a href="<%=item_path(@items[a].id)%>" class="btn btn-card my-2 ">Read more</a>
              <%= button_to "Add to cart", jointablecartitem_index_path, params: {item_id: @items[a].id, quantity: 1}, method: :post, class: " container-fluid btn btn-cart"%><br>
              </div>
       </div>
      </div>
      
       
      </div>
            


            <div class="col-8">
            
            <div class="card card-sl mb-4">
            <img class="card-img-top" src="<%=@items[b].image_url%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=@items[b].title%></h5>
              <p class="card-text"><%=@items[b].description%></p>
              <div class="row justify-content-center">
              <a href="<%=item_path(@items[b].id)%>" class="btn btn-card my-2">Read more</a>
              <%= button_to "Add to cart", jointablecartitem_index_path, params: {item_id: @items[b].id, quantity: 1}, method: :post, class: " container-fluid btn btn-cart"%><br>
              </div>
       </div>
      </div>
      
       
      </div>
           
          
      
    </div>
  </div>
</div>
